* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#release {
  width: 150px;
  height: 65px;
  background: transparent;
  border: 2px solid #9b4dff;
  cursor: pointer;
  transition: 0.2s;
}

#release:hover {
  box-shadow: 0 0 18px #9b4dff;
}

.particle {
  position: fixed;
  border-radius: 50%;
  background: #a855ff;
  pointer-events: none;
  animation: fly 1.5s ease-out forwards;
}

.heart {
  position: fixed;
  color: #a855ff;
  font-size: 15px;
  pointer-events: none;
  animation: heartFly 1.8s ease-out forwards;
}

@keyframes fly {
  to {
    transform: translate(var(--x), var(--y));
    opacity: 0;
  }
}

@keyframes heartFly {
  to {
    transform: translate(var(--x), var(--y)) rotate(20deg);
    opacity: 0;
  }
}
